{% extends 'base.html.twig' %}
{% block body %}
        <div class="parallax">
            <div class="col-sm-12 col-12 ">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}
